     /* Project Background images */
     
     #project-poseidons-trunk {
         background-image: url('./../images/project-poseidons-trunk.png');
     }
     
     #project-blog-site {
         background-image: url('./../images/project-blog-site.png');
     }
     
     #project-taskinator {
         background-image: url('./../images/project-taskinator.png');
     }
     
     #project-3dphoto {
         background-image: url('./../images/project-3dphoto.png');
     }
     
     #project-weather-forecast {
         background-image: url('./../images/project-weather-forecast.png');
     }
     
     #project-pantry-remover {
         background-image: url('./../images/project-pantry-remover.png');
     }
     
     #project-poker {
         background-image: url('./../images/project-poker.png');
     }
     
     #project-onepalm {
         background-image: url('./../images/project-onepalm.png');
     }
     
     #project-jsquiz {
         /*  royalty free image       */
         background-image: url('./../images/project-jsquiz.png');
     }
     
     #project-jspassword {
         /*  royalty free image       */
         background-image: url('https://static8.depositphotos.com/1005669/1005/i/600/depositphotos_10052436-stock-photo-cyber-security.jpg');
     }
     
     #project-robot-gladiators {
         background-image: url('./../images/project-robot-gladiators.png');
     }
     
     #project-run-buddy {
         background-image: url('./../images/project-run-buddy.png');
     }
     
     #project-horiseon {
         background-image: url('https://qcent.github.io/horiseon/assets/images/digital-marketing-meeting.jpg');
     }
     /* END OF PROJECT BACKGROUNDS */